/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

//Mixins
@mixin selectanimation($animation) {
    -webkit-transition: $animation;
    -moz-transition: $animation;
    -ms-transition: $animation;
    -o-transition: $animation;
    transition: $animation;
  }

//Variables

//colors
$coral: rgba(238,84,59,1.0);
$darkblue: rgba(0,46,83,1.0);
$darkgreen: rgba(1,126,94,1.0);
$lightgreen: rgba(123,203,191,1.0);
$offwhite: rgba(250,250,250, 1.0);
//$offwhite: rgba(255,255,248, 1.0);
$silvergrey: rgba(230,245,255,1.0);

// grid Setup 
$susy: (
	global-box-sizing: border-box,
	use-custom: (rem: true)
);

@include border-box-sizing;

.container{
	@include container;
	@include clearfix;

	position:relative;
	top:100vh;
	z-index:100;
	background-color:$offwhite;
}

//body setup
body{
	color: $darkblue;
	font-family: "proxima-nova", sans-serif;
	font-size:16px; //just to be sure
}

a {
	color: $coral;
	&:hover {
		color:#c8270d;
	}
}
a.darkbg{
	color: $darkgreen;
	&:hover {
		color:#03533e;
	}
}
a, a.darkbg {
	text-decoration: none;
	@include selectanimation(all 0.3s ease-in);
}

h2 {
	font-size: 1.6rem;
	font-weight: 200;
	letter-spacing: 0.05em;
	margin-bottom: 0.3rem;
}

h3 {
	font-size: 1.2rem;
	font-weight: 200;
	margin-bottom: 0.1rem;
	padding-top: 1rem;
	text-transform: uppercase;
}

// layout styles

// menu styles
#logo{
	width:4.75rem;
	height:4.75rem;
}
header{
	width:100%;
	position:fixed;
	background-color: rgba(255,255,255, 0.97);
	z-index:999;
	height:80px;
	text-align:center;
	border-bottom: 1px solid rgba(0,46,83,0.45);
}
nav{
	margin-top:-0.8rem;
}
nav > ul{
	list-style:none;
	width: span(full);
	padding:0;
}
nav > ul li{
	display:inline-block;
	padding-left: gutter(10);
	padding-right:gutter(10);
	vertical-align:middle;
	
	width:span(1.5 of 12);
}
nav > ul li a{
	color:$lightgreen;
	
	text-decoration:none;
	font-size: 1rem;
	line-height: 1.15rem;
	font-weight:400;
	&:hover {
		color: $darkblue;
		@include selectanimation(all 0.3s ease-in);
	}
}

//background image styles
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

// section styles

//landing "page" styles
#landing{
	height:600px;
	position:fixed;
	z-index:1;
} 

.landingDate{
	@include span(8 of 12);
	font-size:3rem;
	color:$coral;
	font-weight:100;
	margin-left:span(5.35 of 12);
	text-shadow:2px 2px 2px #962816;
}
//letteringJS styles for Landing Title
.landingTitle{
	@include span(full);
	font-size:7rem;
	color:$coral;
	font-weight:300;
	padding-left:span(1 of 12);
	margin-top:10rem;
	margin-bottom: -50px;
	text-shadow:2px 2px 2px #962816;
}
.char2{
	margin-left:5px;
}
.char4{
	margin-left:-3px;

}
.char5{
	margin-left:-6px;
}
.char6{
	margin-left:-5px;
}
.char9{
	margin-left:-6px;
}
.char10{
	margin-left:-8px;
}
.char12{
	margin-left:-2px;
}
.char13{
	margin-left:-4px;
}
.char14{
	margin-left:-3px;
}

//section-specific page styles

//festivities styles
#festivities{
	@include span(full);
	min-height:750px;
	background-color:$offwhite;
	background-image:url("../imgs/triangleTexture.svg");
	background-size:200% 200%;
	background-position:center;
	background-repeat: no-repeat;
}
#festivitiesHeader{
	@include span(full);
	height:200px;
	overflow:hidden;
	color:$coral;
	background-image: url("../imgs/westland02.jpg");
	background-repeat: no-repeat;
}
//visiting seattle styles
#seattle{
	@include span(full);
	min-height:1400px;
	background-color:$lightgreen;
	//padding-top:80px;
	background-image:url("../imgs/triangleTexture.svg");
	background-size:225% 225%;
	background-position:center center;
	background-repeat: no-repeat;
}

#seattleHeader{
	@include span(full);
	height:200px;
	overflow:hidden;
	background-image: url("../imgs/stamen_watercolor_seattle.jpg");
	background-repeat: no-repeat;
}
//registry styles
#registry{
	@include span(full);
	min-height:100vh;
	background-color:$silvergrey;
	//padding-top:80px;
	background-image:url("../imgs/triangleTexture.svg");
	background-size:275% 275%;
	background-position:center center;
	background-repeat: no-repeat;
}
#registryHeader{
	@include span(full);
	height:200px;
	overflow:hidden;
	background-image: url("../imgs/betterDays.jpg");
	background-repeat: no-repeat;
	color:$coral;
}
//photos styles
#photos{
	@include span(full);
	height:800px;
	background-color:$offwhite;
	padding-top:80px;
}

//universal title styles
.sectionTitle{
	font-size:2.5rem;
	width:span(full);
	padding-left:6rem;
	margin-top:8rem;
}
.venueTitle, .eventsTitle, .foodTitle, .stayTitle, .drivingTitle, .sightsTitle, .registryTitle, .photosTitle{
	@include span(full);
	padding-left: 6rem;
}

//universal content styles
.venueContent, .eventsContent, .foodContent,.stayContent, .drivingContent, .sightsContent, .registryContent, .photosContent {
	@include span(8 of 12);
	margin-left: span(2.25 of 12);
	line-height: 150%;
}

