Venue

<a href="http://www.westlanddistillery.com/">Westland Distillery</a> is located at <a href="">2931 1st Avenue South</a> in the SoDo (South Downtown) neighborhood of Seattle. At 13,000-square-feet and 60,000 proof gallons of spirit per year, it's the nation's largest craft distillery specializing in single malt whiskey. 

SoDo is an industrial area, so street parking should be pretty easy on a Saturday evening. There are also several paid lots around the neighborhood. If you're driving, please ensure you have a designated driver!

If you'd rather not drive, Seattle has several options for hiring a car including <a href="https://www.lyft.com/">Lyft</a>, <a href="https://www.uber.com/cities/seattle">Uber</a>, and typical taxi services   like <a href="http://www.seattleyellowcab.com/">YellowCab</a> &#40;<a href="tel://2066226500">206&#8209;622&#8209;6500</a>&#41;. Another fantastic alternative is <a href="http://blackcrowncar.com/">Black Crown Car</a> &#40;<a href="2067227696">206&#8209;722&#8209;7696</a>&#41; which will help you end your night feeling like a rockstar.


Events

The evening will begin with a short ceremony, after which we will host a cocktail hour and then a reception with dinner and dancing. During the reception, Westland's master distiller will give tours of the distillery and hold a whiskey tasting. Also, we enthusiastically encourage you to visit the photo booth throughout the reception.

The formal portions of the evening &mdash; including the ceremony and events like the first dance &mdash; will be unplugged, which means we are asing everyone to put away their phones and cameras. Our photographer Jenny will be taking plenty of snaps throughout the night that we will share in <a href="">the photo gallery</a> soon after the event. 


Food &amp; Drinks

Dinner will be provided by <a href="http://www.elcamionseattle.com/">El Camion</a>, Seattle's best taco truck. They will be offering tacos, burritos, and gorditas filled with carne asada &#40;grilled top sirloin&#41;, pollo asado &#40;grilled chicken&#41;, white fish, or vegetables. 


