First off, thank you. Thank you for braving Seattle traffic, dealing with airports and jetlag, and breaking out your nice clothes, all for us. Just showing up at our wedding means a lot to both of us. 

Usually, couples register for gifts to set up a new home. We already have a home and more stuff than really fits in it. In leiu of gifts, please consider donating to one of these charities: 
	<ul>
		<li><a href="http://appcamp4girls.com/contribute/">App Camp for Girls</a></li>
		<li><a href="https://donate.charitywater.org/donate">charity: water</a></li>
		<li><a href="https://donate.splcenter.org/sslpage.aspx?pid=463">Southern Poverty Law Center</a></li>
	</ul>

If you would prefer your gift to directly benefit us, we are working towards buying a house of our own and would very much appreciate a contribution towards our house-buying fund. 