Where to Stay

Downtown, Belltown, Lower Queen Anne, Capital Hill, First Hill, South Lake Union, International District, SoDo are a walk or bus ride from Seattle's most popular tourist attractions. Ballard, Fremont, or the University District are a little farther out, but can be feasible and less expensive. The University District has pretty good bus service to downtown, too. Street parking might be tricky, though.

Staying outside of downtown can mean you'll be in surban areas that don't have much going on, and getting to what you want to see might mean traffic and paying for parking.

<a href="https://www.airbnb.com/">AirBNB</a> can be a great alternative to hotels, both because they can be more affordable and because you can stay in a part of the city that Seattlites live in, too. 

See also:
<ul>
	<li>
		<a href="http://www.tripadvisor.com/Travel-g60878-s301/Seattle:Washington:Arriving.And.Departing.html">Arriving &amp; Departing Seattle</a>
	</li>
	<li>
		<a href="http://www.tripadvisor.com/Travel-g60878-c83685/Seattle:Washington:Where.To.Stay.In.Seattle.html">Where to Stay in Seattle</a>
	</li>
	<li>
		<a href="http://travelcodex.com/2013/03/the-insiders-guide-to-seattle-where-to-stay/">Insider's Guide on Where to Stay</a>
	</li>
	<li>
		<a href="http://www.frommers.com/destinations/seattle/702031#sthash.PcgJSOXY.dpbs">Frommer's guide to Seattle neighborhoods</a>
	</li>
</ul>


Parking &amp; Driving

If you stay in the downtown corridor and don't plan to venture much outside of the neighborhoods listed in <a href="">Where to Stay</a>, public transit can be a viable option. What you save in rental car fees may be offset by cost of housing, though, as it can be pricey. The area around the Westland Distillery has few public transit options on Saturday nights, unfortunately, so expect to take a cab or an Uber/Lyft to get there and back. 

If you are interested in exploring Seattle's many outdoor options or the areas outside of the downtown corridor, a car is likely to be necessary. You'll also benefit from a car in some of the farther-flung Seattle neighborhoods like Ballard, West Seattle, and Georgetown.

Street parking is a hassle, like in most cities. If you're renting a car, make sure to ask about your parking options before booking a place to stay. 


What to See &amp; Do

We picked September because the weather in Seattle is reliably pretty nice. Pack layers, but expect it to be relatively mild and, unless we're deeply unlucky, dry &#40;it turns out that it doesn't always rain in Seattle, but Seattlites prefer that you think it does&#41;. The days will be pretty long and the sunsets should be gorgeous.

We chose a weekend with no big events going on, but nice weather means that the locals are out and about as much as the tourists. Traffic might be a pain and trendy restaurants will be busier than usual, so plan ahead, especially if you're going anywhere that requires you to use a highway, cross a body of water, or both.

Seattle has a thriving music scene, great food and coffee, and more micro-breweries and micro-distilleries than you can shake a stick at. Each neighborhood has its own things to see and eat, to the point that Seattle can feel more like a collection of neighborhood islands more than a cohesive city. In the city proper, neighborhoods tend to be easily walkable, but if the word <q>hill</q> is in the name, you might be in for a workout. In the suburbs, a car is pretty necessary.

See also:
<ul>
	<li>
		<a href="http://www.tripadvisor.com/Travel-g60878-c2242/Seattle:Washington:One.Day.Itinerary.Without.A.Car.html">Seattle: One Day Itinerary Without a Car</a>
	</li>
	<li>
	</li>
</ul>




